<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>romp</display-name>
  <welcome-file-list>
    <welcome-file>IndexPlants</welcome-file>
  </welcome-file-list>
  <filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>zh.romp.util.EncodingFilter</filter-class>
		<init-param>
			<param-name>ENCODING</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  

   <servlet>
    <servlet-name>RexUsername</servlet-name>
    <servlet-class>zh.romp.ajax.RexUsername</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>zh.romp.service.user.UserRegister</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>zh.romp.service.user.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginSuccess</servlet-name>
    <servlet-class>zh.romp.service.user.LoginSuccess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>zh.romp.service.user.LoginOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageSkip</servlet-name>
    <servlet-class>zh.romp.util.PageSkip</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RexPlanname</servlet-name>
    <servlet-class>zh.romp.ajax.RexPlanname</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpLoadPlant</servlet-name>
    <servlet-class>zh.romp.service.researcher.UpLoadPlant</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpLoadQuestion</servlet-name>
    <servlet-class>zh.romp.service.user.UpLoadQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllQuestion</servlet-name>
    <servlet-class>zh.romp.service.researcher.AllQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>zh.romp.service.user.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RexYzm</servlet-name>
    <servlet-class>zh.romp.ajax.RexYzm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindSuccessUser</servlet-name>
    <servlet-class>zh.romp.service.manager.FindSuccessUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindBlockedUser</servlet-name>
    <servlet-class>zh.romp.service.manager.FindBlockedUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserStatus</servlet-name>
    <servlet-class>zh.romp.service.manager.UpdateUserStatus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindBlockedQuestion</servlet-name>
    <servlet-class>zh.romp.service.manager.FindBlockedQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PassQuestion</servlet-name>
    <servlet-class>zh.romp.service.manager.PassQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllPlants</servlet-name>
    <servlet-class>zh.romp.service.manager.AllPlants</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelPlant</servlet-name>
    <servlet-class>zh.romp.service.manager.DelPlant</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPlant</servlet-name>
    <servlet-class>zh.romp.service.user.GetPlant</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetQuestion</servlet-name>
    <servlet-class>zh.romp.service.researcher.GetQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueToInfo</servlet-name>
    <servlet-class>zh.romp.service.researcher.QueToInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddWatermark</servlet-name>
    <servlet-class>zh.romp.service.manager.AddWatermark</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LikeQueryWithPlant</servlet-name>
    <servlet-class>zh.romp.service.user.LikeQueryWithPlant</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CollectionPlant</servlet-name>
    <servlet-class>zh.romp.ajax.CollectionPlant</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindMyCollections</servlet-name>
    <servlet-class>zh.romp.service.user.FindMyCollections</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelMyCollection</servlet-name>
    <servlet-class>zh.romp.service.user.DelMyCollection</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PassQue</servlet-name>
    <servlet-class>zh.romp.service.user.PassQue</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotPassQue</servlet-name>
    <servlet-class>zh.romp.service.user.NotPassQue</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Compare</servlet-name>
    <servlet-class>zh.romp.service.teacher.Compare</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePlant</servlet-name>
    <servlet-class>zh.romp.service.researcher.UpdatePlant</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexPlants</servlet-name>
    <servlet-class>zh.romp.service.user.IndexPlants</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserFusionChartServlet</servlet-name>
    <servlet-class>zh.romp.service.manager.UserFusionChartServlet</servlet-class>
  </servlet>
	<servlet>
    <servlet-name>PlantFusionChartServlet</servlet-name>
    <servlet-class>zh.romp.service.manager.PlantFusionChartServlet</servlet-class>
  </servlet>


	<session-config>
	<session-timeout>20</session-timeout>
	</session-config>



  <servlet-mapping>
    <servlet-name>RexUsername</servlet-name>
    <url-pattern>/RexUsername</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginSuccess</servlet-name>
    <url-pattern>/LoginSuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageSkip</servlet-name>
    <url-pattern>/PageSkip</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RexPlanname</servlet-name>
    <url-pattern>/RexPlanname</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpLoadPlant</servlet-name>
    <url-pattern>/UpLoadPlant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpLoadQuestion</servlet-name>
    <url-pattern>/UpLoadQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllQuestion</servlet-name>
    <url-pattern>/AllQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RexYzm</servlet-name>
    <url-pattern>/RexYzm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindSuccessUser</servlet-name>
    <url-pattern>/FindSuccessUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindBlockedUser</servlet-name>
    <url-pattern>/FindBlockedUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserStatus</servlet-name>
    <url-pattern>/UpdateUserStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindBlockedQuestion</servlet-name>
    <url-pattern>/FindBlockedQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PassQuestion</servlet-name>
    <url-pattern>/PassQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllPlants</servlet-name>
    <url-pattern>/AllPlants</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelPlant</servlet-name>
    <url-pattern>/DelPlant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPlant</servlet-name>
    <url-pattern>/GetPlant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetQuestion</servlet-name>
    <url-pattern>/GetQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueToInfo</servlet-name>
    <url-pattern>/QueToInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddWatermark</servlet-name>
    <url-pattern>/AddWatermark</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LikeQueryWithPlant</servlet-name>
    <url-pattern>/LikeQueryWithPlant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectionPlant</servlet-name>
    <url-pattern>/CollectionPlant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindMyCollections</servlet-name>
    <url-pattern>/FindMyCollections</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelMyCollection</servlet-name>
    <url-pattern>/DelMyCollection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PassQue</servlet-name>
    <url-pattern>/PassQue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotPassQue</servlet-name>
    <url-pattern>/NotPassQue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Compare</servlet-name>
    <url-pattern>/Compare</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePlant</servlet-name>
    <url-pattern>/UpdatePlant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexPlants</servlet-name>
    <url-pattern>/IndexPlants</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserFusionChartServlet</servlet-name>
    <url-pattern>/UserFusionChartServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>PlantFusionChartServlet</servlet-name>
    <url-pattern>/PlantFusionChartServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <filter>
		<filter-name>userlogin</filter-name>
		<filter-class>zh.romp.filter.UserLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userlogin</filter-name>
		<url-pattern>/LoginSuccess</url-pattern>
		<url-pattern>/PageSkip</url-pattern>
		<url-pattern>/UpLoadPlant</url-pattern>
		<url-pattern>/DelPlant</url-pattern>
		<url-pattern>/GetPlant</url-pattern>
		<url-pattern>/UpdateUserStatus</url-pattern>
		<url-pattern>/PageSkip</url-pattern>
	</filter-mapping>
</web-app>